/* Login.css */
.log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  
  
  .log-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
  }

  .log-form:hover {
    background-color: #4d18b6; 
  }
  
  .log-form h3 {
    margin: 5px 0;
  }
  
  .in-log {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .log-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .log-btn:hover {
    background-color: #ffffff;
    color: #555;
  }
  